/*hl => highlight color/backgroundcolor*/
.hl-blue,.hl-red,.hl-grey,.hl-darkgrey,.hl-blackblue{
    display: inline; 
    padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 5px;
    box-sizing: border-box;
}
.hl-blue{color: white;background-color: #2499D5;}
.hl-red{color: white;background-color: #D2523E;}
.hl-grey{background-color: #DADADA;}
.hl-darkgrey{color: white;background-color: #6E7275;}
.hl-blackblue{color: #000000;background-color: #2499D5;}

/*Special highlight*/
.hl-user,.hl-admin{
display: inline; 
    padding: 5px;
    box-sizing: border-box;
}
.hl-user{background-color: #009DDD;color: #fff;}
.hl-admin{background-color: #6E7275;color: #fff;}

.hl-smarteh{
	display: inline; 
    background-color: whitesmoke;
    color: grey;
    font-weight: bold;
    margin:2px;
    border:1px solid green;
    padding: 1px 2px;
    }

/*Sticker*/
.sticker-blue,.sticker-red{
	display: inline; 
    padding: 5px;
    box-sizing: border-box;
    margin-right: 5px;
}
.sticker-blue{background-color: #2499D5;color: #fff;}
.sticker-red{background-color: red;color: #fff;}

.sticker-blue>img,.sticker-red>img{width:20px;vertical-align:middle;}


/*Frame*/
.frame-black,.frame-red{
    border-width:0.5px;
    border-style:solid;
}
.frame-black{border-color:black;}
.frame-red{border-color:red;}


/*right-left*/
.left05,.left10,.left15,.left20,.left25,.left30,.left35,.left40,.left45,.left50,.left55,.left60,.left65,.left70,.left75,.left80,.left85,.left90,.left95{
    float:left;
    /*display: block;*/
}
.right05,.right10,.right15,.right20,.right25,.right30,.right35,.right40,.right45,.right50,.right55,.right60,.right65,.right70,.right75,.right80,.right85,.right90,.right95{
    float:right;
    /*display: block;*/
}

.right05,.left05{width: 4%;}
.right10,.left10{width: 8%;}
.right15,.left15{width: 14%;}
.right20,.left20{width: 19%;}
.right25,.left25{width: 24%;}
.right30,.left30{width: 29%;}
.right35,.left35{width: 34%;}
.right40,.left40{width: 39%;}
.right45,.left45{width: 44%;}
.right50,.left50{width: 49%;}
.right55,.left55{width: 54%;}
.right60,.left60{width: 59%;}
.right65,.left65{width: 64%;}
.right70,.left70{width: 69%;}
.right75,.left75{width: 74%;}
.right80,.left80{width: 79%;}
.right85,.left85{width: 84%;}
.right90,.left90{width: 89%;}
.right95,.left95{width: 94%;}



/*halton list*/
ol.list-num-hblue,ol.list-alpha-black,ol.list-num-black,ol.list-alpha-hblue{
    position: relative;
    display: block;
    page-break-inside: avoid;
    counter-reset: items; /* counter initialize + name 'items' */
}
ol.list-num-hblue>li,ol.list-alpha-black>li,ol.list-num-black>li,ol.list-alpha-hblue>li{
    list-style-type: none;
	counter-increment: items; /* counter increment */
    page-break-inside: avoid;
}
ol.list-num-hblue>li:before,ol.list-alpha-black>li:before,ol.list-num-black>li:before,ol.list-alpha-hblue>li:before{
    margin-left: -25px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 3px;
    color: white;
    text-align: center;
    font: 10px Arial, sans-serif;
    float: left;
}
ol.list-num-hblue>li:before{
    content: counter(items); /* counter display */
    background: #2499D5;
}
ol.list-alpha-black>li:before{
    content: counter(items,upper-alpha); /* counter display */
    background: #000000;
}
ol.list-alpha-hblue>li:before{
    content: counter(items,upper-alpha); /* counter display */
    background: #2499D5;
}
ol.list-num-black>li:before{
    content: counter(items); /* counter display */
    background: #000000;
}

ol.list-num-hblue>p,ol.list-alpha-black>p,ol.list-num-black>p,ol.list-alpha-hblue>p{
    font-size: 12px;
    display: inline;
    position: relative;
}



/*simpletable*/
.ctable,.ctable-hblue{
    white-space: normal;
    page-break-inside: auto;
    border-collapse: collapse;
    border-width:1px;
    border-style:solid; 
}
.ctable p,.ctable-hblue p{
    font-size: 12px;
}
.ctable td,.ctable-hblue td{
    padding: 0px 2px 10px 2px;
    border-width:0.5px;
    border-style:solid;
}
.ctable th,.ctable-hblue th{
    text-align: center;
    vertical-align: middle;
}
.ctable-hblue{
    border-color: #2499d5
}
.ctable-hblue td{
    border-color: #2499d5;
}
/*table*/
.ftable-hblue,.ftable-lgrey{
    width: 100%;
    white-space: normal;
    page-break-inside: auto; 
}
.ftable-hblue p,.ftable-lgrey p{
    font-size: 12px;
}
.ftable-hblue thead>tr,.ftable-lgrey thead>tr{
    height: 20px;
}
.ftable-hblue th,.ftable-lgrey th{
    text-align: center;
    vertical-align: middle;
}
.ftable-hblue tr,.ftable-lgrey tr{
    border-top: initial;
    height: 20px;
}
.ftable-hblue td,.ftable-lgrey td{
    page-break-inside: avoid;
}

.ftable-hblue thead>tr{
    color: white;
    background-color:#2499d5;
}
.ftable-lgrey thead>tr{
    color: black;
    background-color:lightgrey;
}




/*nocap*/
figure.nocap>figcaption>span{
    display: none;
}
/*Iconetech*/


/*Tech*/
figure.tech{
    width: 220px;
    height: 60px;
    /*border:1px dotted black;*/
    line-height: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: text-top;
}

figure.tech>.image{
    width: 55px;
    /*border:1px dotted red;*/
    float:left;
    overflow: hidden;
}

figure.tech>.p{
    position:relative;
    top:-5px;
    font-size: 10px;
    line-height: 11px;
    /*border:1px dotted black;*/
}

figure.tech>.p>strong{
    display: block;
    font-size: 11px;
    margin-bottom: 5px;
}
/*column*/
.column2, .column3, .column4{
    position: relative;
    display: block;
    page-break-inside: auto;
    /*font-size: 0.7rem;*/
    break-inside: auto;
    clear:both;
    padding-bottom:5px;
	column-gap: normal;
}

.column2{column-count: 2;}
.column3{column-count: 3;}
.column4{column-count: 4;}

.column2>h2, .column3>h2, .column4>h2{column-span:all;display: block;} /* title position on section h2*/
.column2>h3, .column3>h3, .column4>h3{column-span:all;display: block;} /* title position on section h3*/
.column2>h4, .column3>h4, .column4>h4{column-span:all;display: block;} /* title position on section h4*/
.column2>h5, .column3>h5, .column4>h5{column-span:all;display: block;} /* title position on section h5*/

.column2 img,.column3 img,.column4 img{
    display: block;
    margin-right:auto;
    margin-left:auto;
    padding-right:auto;
    padding-left:auto;
}

/*Code*/
.codeblock{
    display: block;
    background-color: rgb(225, 225, 225);
    padding:5px;
    font-size: 10px;
    line-height: 12px; 
    border-width:0.5px;
    border-style:solid;
    border-color:black;
}
.codeph{
    display: inline;
    background-color: rgb(225, 225, 225);
    padding:5px;
    font-size: 10px;
    line-height: 12px; 
    border-width:0.5px;
    border-style:solid;
    border-color:black;
}

/*Warnings etc..*/
.guideref, .warning, .caution, .danger, .sustainability, .notice, .environment {
    display: block;
}

.guideref>figcaption>span, .warning>figcaption>span, .caution>figcaption>span, .danger>figcaption>span, .sustainability>figcaption>span, .notice>figcaption>span, .environment>figcaption>span {
    display: none;
}
.guideref::after, .warning::after, .caution::after, .danger::after, .sustainability::after, .notice::after, .environment::after {
    content: "";
    display: block;
    clear: both;
}
.guideref>p, .warning>p, .caution>p, .danger>p, .sustainability>p, .notice>p {
    width: 92%;
    float:right;
    display: block;
    color:black;
    border-width:2px;
    border-left:solid;
    padding-left: 5px;
	margin-top: 0px;
    margin-bottom: 5px;
}
.guideref>img, .warning>img, .caution>img, .danger>img, .sustainability>img, .notice>img {
    width: 7%;
    float:left;
    display: block;
}
.guideref>figcaption, .warning>figcaption, .caution>figcaption, .danger>figcaption, .sustainability>figcaption, .notice>figcaption {
    width: 92%;
    float:right;
    display: block;
    font-weight: bold;
    font-size: 14px;
}
.guideref>figcaption{color:#2499d5;}
.warning>figcaption{color:#F08118;}
.caution>figcaption{color:#F4E724;}
.danger>figcaption{color:#CE1327;}
.sustainability>figcaption{color:black;}
.notice>figcaption{color:#236FB6;}

.guideref>p{border-color:#2499d5;}
.warning>p{border-color:#F08118;}
.caution>p{border-color:#F4E724;}
.danger>p{border-color:#CE1327;}
.sustainability>p{border-color:black;}
.notice>p{border-color:#236FB6;}

.environment>figcaption {    
    width: 94%;
    float:right;
    display: block;
    font-weight: bold;
    font-size: 18px;
    border-left:solid;
    padding-left: 5px;
    margin-top: 15px;
}
.environment>img{
    width: 5%;
    float:left;
    display: block;
}

.environment>figcaption {    
    color:#48AC33;
    border-color:#48AC33;
}

.guideref::after, .warning::after, .caution::after, .danger::after, .sustainability::after, .notice::after, .environment::after {
    content: "";
    display: block;
    clear: both;
}

/*****************************   NOT CLEAN  ******************/

/* Down recentrage */
[class*='Down5']{
    transform: translateY(5%);
}
[class*='Down10']{
    transform: translateY(10%);
}
[class*='Down15']{
    transform: translateY(15%);
}
[class*='Down20']{
    transform: translateY(20%);
}
[class*='Down25']{
    transform: translateY(25%);
}
/* Down recentrage */

/*page break*/
.pbreak-after{
    page-break-after: always;
}
.pbreak-before{
    page-break-before: always;
}
.pbreak-afterh{
    page-break-after: always;
    visibility: hidden;
}
.pbreak-beforeh{
    page-break-before: always;
    visibility: hidden;
}
/*page break*/

/*line break*/
.lbreak-9{
    display:block;
    visibility:hidden;
    height: 9pt;
}
.lbreak-10{
    display:block;
    /*visibility:hidden;*/
    border:1px dotted black;
    height: 10pt;
}
.lbreak-11{
    display:block;
    visibility:hidden;
    height: 11pt;
}
.lbreak-12{
    display:block;
    visibility:hidden;
    height: 12pt;
}
.lbreak-13{
    display:block;
    visibility:hidden;
    height: 13pt;
}
.lbreak-25{
    display:block;
    visibility:hidden;
    height: 25px;
}
.lbreak-50{
    display:block;
    visibility:hidden;
    height: 50px;
}
.lbreak-75{
    display:block;
    visibility:hidden;
    height: 75px;
}
/*line break*/



/*spacer*/
[class*='Spacer']{
    clear:both;
    visibility: hidden;
	font-size: 8px;
    line-height: 8px;
}

.spacer{
    clear:both;
    visibility: hidden;
	font-size: 8px;
    line-height: 8px;
}
/*spacer*/
/*space13*/
[class*='Space13']{
    clear:both;
    visibility: hidden;
	font-size: 17px;
    line-height: 17px;
}
/*spacer*/

[class*='Scale90']{
    width: 90%;
    display: block;
}
[class*='Scale80']{
    width: 80%;
    display: block;
}
[class*='Scale70']{
    width: 70%;
    display: block;
}




