[class*='hl-blue']{
    display: inline; 
    padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 5px;
    box-sizing: border-box;
    background-color: #2499D5;
    color: #fff;
}

[class*='hl-grey']{
    display: inline; 
    padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 5px;
    box-sizing: border-box;
    background-color: #DADADA;
}

[class*='HTSUser']{
    display: inline; 
    padding: 5px;
    box-sizing: border-box;
    background-color: #009DDD;
    color: #fff;
}
[class*='HTSAdmin']{
    display: inline; 
    padding: 5px;
    box-sizing: border-box;
    background-color: #6E7275;
    color: #fff;
}
[class*='DarkGrey']{
    display: inline; 
    padding: 5px;
    box-sizing: border-box;
    background-color: #707476;
    color: #fff;
}
[class*='LightGrey']{
    display: inline; 
    padding: 5px;
    box-sizing: border-box;
    background-color: #C0C2C9;
    color: #fff;
}

[class*='Clickable']{
    display: inline; 
    padding: 5px;
    box-sizing: border-box;
    background-color: #2499D5;
    color: #fff;
    margin-right: 5px;
}
[class*='Clickable']>img{
    width:20px;
    vertical-align:middle;
}


/* Down recentrage */
[class*='Down5']{
    transform: translateY(5%);
}
[class*='Down10']{
    transform: translateY(10%);
}
[class*='Down15']{
    transform: translateY(15%);
}
[class*='Down20']{
    transform: translateY(20%);
}
[class*='Down25']{
    transform: translateY(25%);
}
/* Down recentrage */

/* test right/left*/
[class*='Left10']{
    width: 9%;
    float:left;
    display: block;
}
[class*='Right10']{
    width: 9%;
    float:right;
    display: block;
}
[class*='Left15']{
    width: 14%;
    float:left;
    display: block;
}
[class*='Right15']{
    width: 14%;
    float:right;
    display: block;
}
[class*='Left20']{
    width: 19%;
    float:left;
    display: block;
}
[class*='Right20']{
    width: 19%;
    float:right;
    display: block;
}
[class*='Left25']{
    width: 24%;
    float:left;
    display: block;
}
[class*='Right25']{
    width: 24%;
    float:right;
    display: block;
}
[class*='Left30']{
    width: 29%;
    float:left;
    display: block;
}
[class*='Right30']{
    width: 29%;
    float:right;
    display: block;
}
[class*='Left35']{
    width: 34%;
    float:left;
    display: block;
}
[class*='Right35']{
    width: 34%;
    float:right;
    display: block;
}
[class*='Left40']{
    width: 39%;
    float:left;
    display: block;
}
[class*='Right40']{
    width: 39%;
    float:right;
    display: block;
}
[class*='Left45']{
    width: 44%;
    float:left;
    display: block;
}
[class*='Right45']{
    width: 44%;
    float:right;
    display: block;
}
[class*='Left50']{
    width: 49%;
    float:left;
    display: block;
}
[class*='Right50']{
    width: 49%;
    float:right;
    display: block;
}
[class*='Left55']{
    width: 54%;
    float:left;
    display: block;
}
[class*='Right55']{
    width: 54%;
    float:right;
    display: block;
}
[class*='Left60']{
    width: 59%;
    float:left;
    display: block;
}
[class*='Right60']{
    width: 59%;
    float:right;
    display: block;
}
[class*='Left65']{
    width: 64%;
    float:left;
    display: block;
}
[class*='Right65']{
    width: 64%;
    float:right;
    display: block;
}
[class*='Left70']{
    width: 69%;
    float:left;
    display: block;
}
[class*='Right70']{
    width: 69%;
    float:right;
    display: block;
}
[class*='Left75']{
    width: 74%;
    float:left;
    display: block;
}
[class*='Right75']{
    width: 74%;
    float:right;
    display: block;
}
[class*='Left80']{
    width: 79%;
    float:left;
    display: block;
}
[class*='Right80']{
    width: 79%;
    float:right;
    display: block;
}
[class*='Left85']{
    width: 84%;
    float:left;
    display: block;
}
[class*='Right85']{
    width: 84%;
    float:right;
    display: block;
}
[class*='Left90']{
    width: 89%;
    float:left;
    display: block;
}
[class*='Right90']{
    width: 89%;
    float:right;
    display: block;
}
/* test right/left*/

/* SECTION ***col******/
section[class='section col']{
    column-count: 2;
    column-gap: 1em;
    position: relative;
    display: block;
    page-break-inside: avoid;
    border: 2px solid black; 
}
section[class='section col']> .p,.ol,.ul{
    font-size: 0.7rem;
    /*line-height: 0.9rem;*/
    position: relative;
    padding: 0.2rem;
    display: block;
    break-inside: auto;
    /*page-break-inside: avoid;*/
    margin: 0.1rem;
}

/* SECTION ***col**End****/

/***col**tittle****/

[class*='col']>h2{
    column-span:all;
    display: block;
}

/****2col******/
[class*='2col']{
    column-count: 2;
    /*column-gap: 1em;*/
    position: relative;
    display: block;
    page-break-inside: avoid;
    font-size: 0.7rem;
    break-inside: auto;
    clear:both;
    padding-bottom:20px;
}

/* ***3col******/
[class*='3col']{
    column-count: 3;
    /*column-gap: 1em;*/
    position: relative;
    display: block;
    page-break-inside: avoid;
    font-size: 0.7rem;
    break-inside: auto;
    clear:both;
    padding-bottom:20px;
}

/****4col******/
[class*='4col']{
    column-count: 4;
    /*column-gap: 1em;*/
    position: relative;
    display: block;
    page-break-inside: avoid;
    font-size: 0.7rem;
    break-inside: auto;
    clear:both;
    padding-bottom:20px;
}
/* OL ***List order***HaltonList***/
ol[class*='HaltonList']> {
    position: relative;
    display: block;
    page-break-inside: avoid;
    counter-reset: items; /* counter initialize + name 'items' */
}
ol[class*='HaltonList']>li {
	list-style-type: none;
	counter-increment: items; /* counter increment */
    page-break-inside: avoid;
}
ol[class*='HaltonList']>li:before {
	content: counter(items); /* counter display */
    margin-left: -25px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 3px;
    background: #2499D5;
    /*border: 2px solid #666;*/
    color: white;
    text-align: center;
    font: 10px Arial, sans-serif;
    float: left;
}
ol[class='HaltonList box']> .p{
    font-size: 12px;
    display: inline;
    position: relative;
}
/* OL ***List order end******/


/*page break*/
[class*=page-break-before] {
    page-break-before: always;
    visibility: hidden;
}

[class*=page-break-after] {
    page-break-after: always;
    visibility: hidden;
}
/*page break*/
/*spacer*/
[class*='Spacer']{
    clear:both;
    visibility: hidden;
	font-size: 8px;
    line-height: 8px;
}
/*spacer*/

/*color*/
p[class*='red']{
    color:red;
}

p[class*='orange']{
    color:orange;
}
/*color*/
p[class*='blue']{
    color:blue;
}


