/*hl => highlight color/backgroundcolor*/
.hl-blue,.hl-red,.hl-grey,.hl-darkgrey,.hl-blackblue{
    display: inline; 
    padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 5px;
    box-sizing: border-box;
}
.hl-blue{color: white;background-color: #2499D5;}
.hl-red{color: white;background-color: #D2523E;}
.hl-grey{background-color: #DADADA;}
.hl-darkgrey{color: white;background-color: #6E7275;}
.hl-blackblue{color: #000000;background-color: #2499D5;}

/*Special highlight*/
[class*='HTSUser']{
    display: inline; 
    padding: 5px;
    box-sizing: border-box;
    background-color: #009DDD;
    color: #fff;
}
[class*='HTSAdmin']{
    display: inline; 
    padding: 5px;
    box-sizing: border-box;
    background-color: #6E7275;
    color: #fff;
}

[class*='smarteh']{
	display: inline; 
    background-color: whitesmoke;
    color: grey;
    font-weight: bold;
    margin:2px;
    border:1px solid green;
    padding: 1px 2px;
    }

/*Sticker*/
.sticker_blue,.sticker_red{
	display: inline; 
    padding: 5px;
    box-sizing: border-box;
    margin-right: 5px;
}
.sticker_blue{background-color: #2499D5;color: #fff;}
.sticker_red{background-color: red;color: #fff;}

.sticker_blue>img,.sticker_red>img{width:20px;vertical-align:middle;}


[class*='Clickable']{
    display: inline; 
    padding: 5px;
    box-sizing: border-box;
    background-color: #2499D5;
    color: #fff;
    margin-right: 5px;
}
[class*='Clickable']>img{
    width:20px;
    vertical-align:middle;
}

/*Frame*/
.bframe,.rframe{
    border-width:0.5px;
    border-style:solid;
}
.bframe{border-color:black;}
.rframe{border-color:red;}


/*right-left*/
.left05,.left10,.left15,.left20,.left25,.left30,.left35,.left40,.left45,.left50,.left55,.left60,.left65,.left70,.left75,.left80,.left85,.left90,.left95{
    float:left;
    display: block;
}
.right05,.right10,.right15,.right20,.right25,.right30,.right35,.right40,.right45,.right50,.right55,.right60,.right65,.right70,.right75,.right80,.right85,.right90,.right95{
    float:right;
    display: block;
}

.right05,.left05{width: 4%;}
.right10,.left10{width: 8%;}
.right15,.left15{width: 14%;}
.right20,.left20{width: 19%;}
.right25,.left25{width: 24%;}
.right30,.left30{width: 29%;}
.right35,.left35{width: 34%;}
.right40,.left40{width: 39%;}
.right45,.left45{width: 44%;}
.right50,.left50{width: 49%;}
.right55,.left55{width: 54%;}
.right60,.left60{width: 59%;}
.right65,.left65{width: 64%;}
.right70,.left70{width: 69%;}
.right75,.left75{width: 74%;}
.right80,.left80{width: 79%;}
.right85,.left85{width: 84%;}
.right90,.left90{width: 89%;}
.right95,.left95{width: 94%;}

/*column*/
.column2, .column3, .column4{
    position: relative;
    display: block;
    page-break-inside: avoid;
    font-size: 0.7rem;
    break-inside: auto;
    clear:both;
    padding-bottom:5px;
}
.column2{column-count: 2;}
.column3{column-count: 3;}
.column4{column-count: 4;}

.column2>h2, .column3>h2, .column4>h2{column-span:all;display: block;} /* title position on section h2*/

/*halton list*/
ol.HaltonList,ol.HaltonBlackList{
    position: relative;
    display: block;
    page-break-inside: avoid;
    counter-reset: items; /* counter initialize + name 'items' */
}
ol.HaltonList>li,ol.HaltonBlackList>li{
    list-style-type: none;
	counter-increment: items; /* counter increment */
    page-break-inside: avoid;
}
ol.HaltonList>li:before,ol.HaltonBlackList>li:before{
    margin-left: -25px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 3px;
    color: white;
    text-align: center;
    font: 10px Arial, sans-serif;
    float: left;
}
ol.HaltonList>li:before{
    content: counter(items); /* counter display */
    background: #2499D5;
}
ol.HaltonBlackList>li:before{
    content: counter(items,upper-alpha); /* counter display */
    background: #000000;
}
ol.HaltonList>p,ol.HaltonBlackList>p{
    font-size: 12px;
    display: inline;
    position: relative;
}


/*Warnings etc..*/
.guideref, .warning, .caution, .danger, .sustainability, .notice, .environment {
    display: block;
}

.guideref>figcaption, .warning>figcaption, .caution>figcaption, .danger>figcaption, .sustainability>figcaption, .notice>figcaption {
    width: 89%;
    float:right;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.guideref>figcaption{color:#2499d5;}
.warning>figcaption{color:#F08118;}
.caution>figcaption{color:#F4E724;}
.danger>figcaption{color:#CE1327;}
.sustainability>figcaption{color:black;}
.notice>figcaption{color:#236FB6;}

.environment>figcaption {    
    width: 92%;
    float:right;
    display: block;
    color:#48AC33;
    font-weight: bold;
    font-size: 18px;
    border-left:solid;
    border-color:#48AC33;
    padding-left: 5px;
    margin-top: 15px;
}
.guideref>figcaption>span, .warning>figcaption>span, .caution>figcaption>span, .danger>figcaption>span, .sustainability>figcaption>span, .notice>figcaption>span, .environment>figcaption>span {
    display: none;
}
.guideref>p, .warning>p, .caution>p, .danger>p, .sustainability>p, .notice>p {
    width: 89%;
    float:right;
    display: block;
    color:black;
    border-width:2px;
    border-left:solid;
    padding-left: 5px;
	margin-top: 0px;
    margin-bottom: 5px;
}
.guideref>p{border-color:#2499d5;}
.warning>p{border-color:#F08118;}
.caution>p{border-color:#F4E724;}
.danger>p{border-color:#CE1327;}
.sustainability>p{border-color:black;}
.notice>p{border-color:#236FB6;}

.guideref>img, .warning>img, .caution>img, .danger>img, .sustainability>img, .notice>img {
    width: 10%;
    float:left;
    display: block;
}
.environment>img{
    width: 7%;
    float:left;
    display: block;
}

.guideref::after, .warning::after, .caution::after, .danger::after, .sustainability::after, .notice::after, .environment::after {
    content: "";
    display: block;
    clear: both;
}


/*****************************   NOT CLEAN  ******************/

/* Down recentrage */
[class*='Down5']{
    transform: translateY(5%);
}
[class*='Down10']{
    transform: translateY(10%);
}
[class*='Down15']{
    transform: translateY(15%);
}
[class*='Down20']{
    transform: translateY(20%);
}
[class*='Down25']{
    transform: translateY(25%);
}
/* Down recentrage */

/*page break*/
[class*=page-break-before] {
    page-break-before: always;
    visibility: hidden;
}

[class*=page-break-after] {
    page-break-after: always;
    visibility: hidden;
}
/*page break*/
/*spacer*/
[class*='Spacer']{
    clear:both;
    visibility: hidden;
	font-size: 8px;
    line-height: 8px;
}
/*spacer*/
/*space13*/
[class*='Space13']{
    clear:both;
    visibility: hidden;
	font-size: 17px;
    line-height: 17px;
}
/*spacer*/

[class*='Scale90']{
    width: 90%;
    display: block;
}
[class*='Scale80']{
    width: 80%;
    display: block;
}
[class*='Scale70']{
    width: 70%;
    display: block;
}

.center{
    text-align: center;
}


