img[class='image Main']{
    width:70%;
    margin-top:50px;
    display: block;
    float:left;
    /*border:1px dotted black;*/
}
img[class='image Logo']{
    width:25%;
    display: block;
    float:left;
    /*border:1px dotted black;*/
}

img[class='image Little']{
    width:30%;
    display: block;
    float:right;
    /*border:1px dotted black;*/
}
