/*Tech*/
figure[class*='Tech']{
    width: 220px;
    height: 60px;
    /*border:1px dotted black;*/
    line-height: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: text-top;
}

figure[class*='Tech']>.image{
    width: 55px;
    /*border:1px dotted red;*/
    float:left;
    overflow: hidden;
}

figure[class*='Tech']>.p{
    position:relative;
    top:-5px;
    font-size: 10px;
    line-height: 11px;
    /*border:1px dotted black;*/
}

figure[class*='Tech']>.p>strong{
    display: block;
    font-size: 11px;
    margin-bottom: 5px;
}
/*Tech*/

/*Blueshape*/
p[class='p BlueShape']{
    display: inline-block;
    width: 95%;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    background-color: #2499d5;
    color: white;
    border-radius: 25px;
    text-align: center;
    margin: 5px auto;
}

p[class='p BlueShape']>strong{
    font-size: 18px;
    font-weight: bold;
}
/*Blueshape*/

img[class='image Main']{
    width:70%;
    margin-top:50px;
    display: block;
    float:left;
    /*border:1px dotted black;*/
}
img[class='image Logo']{
    width:25%;
    display: block;
    float:left;
    /*border:1px dotted black;*/
}

img[class='image Little']{
    width:30%;
    display: block;
    float:right;
    /*border:1px dotted black;*/
}


