/*Style title*/
h1, h2, h3, nav::before {
    color: #2499d5;
    font-weight: bold;
}
h1, nav::before {
    font-size: 18pt;
    color: #2499d5;
    font-weight: bold;
}
h2 {
    font-size: 14pt;
    color: #4a4a49;
    font-weight: bold;
}
h3 {
    font-size: 12pt;
    color: #2499d5;
    font-weight: bold;
}
h4 {
    font-size: 10pt;
    color: black;
    font-weight: bold;
}
/*Style title*/

/*Style text*/
p{
    font-size: 12px;
    line-height: 17px;   
}
/*Style text*/


[class*='font8']{
    font-size: 8px;
    line-height: 8px; 
}
[class*='font9']{
    font-size: 9px;
    line-height: 9px; 
}
[class*='font10']{
    font-size: 10px;
    line-height: 10px; 
}
[class*='font11']{
    font-size: 11px;
    line-height: 11px; 
}
[class*='font12']{
    font-size: 12px;
    line-height: 12px; 
}
[class*='font13']{
    font-size: 13px;
    line-height: 13px; 
}
[class*='font913']{
    font-size: 12px;
    line-height: 17px; 
}
[class*='font9515']{
    font-size: 9.5px;
    line-height: 15px; 
}
[class*='font1630']{
    font-size: 16px;
    line-height: 30px; 
}

.font-red{color:red;}
.font-orange{color:orange;}
.font-hblue{color:#2499d5;}

.font-9{font-size: 12px;}
.font-13{font-size: 17px;;}

.font-9_13{font-size: 12px;line-height: 17px;}
.font-13_16{font-size: 17px;line-height: 22px;}




